<header class="header header--tracker">
	<h1>{{ title }}</h1>
	<p>{{ description }}</p>
</header>
<table class="table table--progress">
	<tr>
		{{#each columns}}
		    <th>
					{{#if this.hideLabel}}
						<span class="screen-reader">{{this.label}}</span>
					{{else}}
						{{this.label}}
					{{/if}}
				</th>
		{{/each}}
	</tr>
	<tr>
		{{#each topics}}
			<th>{{this.title}}</th>
			<td>{{this.beforeClass}}</td>
			<td>{{this.afterClass}}</td>
			<td>{{this.monday}}</td>
			<td>{{this.wednesday}}</td>
			<td>{{this.thursday}}</td>
			<td>{{this.friday}}</td>
			<td>
				<button class="button button--edit">
					Edit
				</button>
			</td>
		{{/each}}
	</tr>
</table>
<div class="button-row">
	<button class="button button--add">
		Add Topic
	</button>
</div>
