<div class="container-fluid">
<<<<<<< Updated upstream
<<<<<<< Updated upstream
	<div class="container-food">
		<p>DELICIOUS FOOD Quickly confirm or reject a booking Admin email notification when a booking request is made Customer email
			notifications when their request is confirmed or rejected Limit available booking times (try booking on Christmas below)
			Customer user role to manage bookings Add your booking form to any page, post or widget area Customize all notifications
			messages, and date and time formats.</p>
=======
=======
>>>>>>> Stashed changes
	
	dfggdffggdfg
>>>>>>> Stashed changes

		<div class="col-md-6">
			<p class="title">starters</p>
			<hr> {{#each menu}}
			<div class="col-md-4">
				<a href="food.html">
					<h2 class="post-title">
						{{this.title}}
					</h2>
					<h3 class="post-subtitle">
						{{this.description}}
					</h3>
					<p class="post-content">
						{{this.image}}
					</p>
					<p class="post-content">
						{{this.cost}}
					</p>
					<p class="post-content">
						{{this.icons}}
					</p>
				</a>
				{{/each}} {{!-- <img src="/img/blake-wisz-287924.jpg"> --}}
				<div class="menu-text"></div>
			</div>
			<div class="col-md-4">

			</div>
			<div class="col-md-4">
			</div>
	<div class="col-md-6 main-course">
			<p class="title">main course</p>
			<hr>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
		</div>
		
		</div>
	</div>
</div>