<div class="container-fluid container-food">
	dfggdffggdfg

	<div class="col-md-6">
		<p class="title">starters</p>
		<hr>
		{{#each menu}}
		<div class="col-md-4">
			  <a href="food.html">
                <h2 class="post-title">
                    {{this.title}}
                </h2>
                <h3 class="post-subtitle">
                    {{this.description}}
                </h3>
                <p class="post-content">
                    {{this.image}}
                </p>
				<p class="post-content">
                    {{this.cost}}
                </p>
				<p class="post-content">
                    {{this.icons}}
                </p>
            </a>
			{{/each}}
			{{!-- <img src="/img/blake-wisz-287924.jpg"> --}}
			<div class="menu-text"></div>
		</div>
		<div class="col-md-4">

		</div>
		<div class="col-md-4">
		</div>

	</div>
	<div class="col-md-6">
		<p class="title">main course</p>
		<hr>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-2">
		</div>

	</div>
</div>